.form-full-width {
  width: 100%;
}

.editor-wrapper {
  max-width: 31.25em;
}

.editor-focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

.DraftEditor-editorContainer {
  z-index: 0;
}
